<!DOCTYPE html>


<html lang="en">

<body>

<div class="foreground" style="width: 800px">

<div class = "intro">
    <% if user_signed_in? %>
        <img src = "/images/user_signed_in.png" style = "width:650px">
    <% else %>
        <img src = "/images/landing_page.png" style = "width:650px">
    <% end %>
</body>


</html>
