table {
    border-collapse: collapse;
    vertical-align: middle;
}

td {
    align: center;
    position: relative;
    padding: 5px 10px;
}

tr.strikeout td:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #111;
    width: 100%;
}

.hidden {
    display: none;
}

body {
    background-image: url('/images/blue_background.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    display: table;
}

html {
    height: 100%;
}

.header{
    margin-left:0px;
    margin-top:0px;
    margin-bottom:0px;
    background: white;
}

.center {
    height:100%;
    display: table-cell;
    vertical-align: middle;
}

